body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

label {
  color: red;
}

#restaurant-detail-page {
  display: grid;
  grid-template-columns: 10rem auto;
  gap: .5rem;
}